* {
  margin: 0px;
  padding: 0px;
  color: black;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.ticTacToe-game {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 98vh;
  background: linear-gradient(141deg, #0fb8ad 10%, #1fc8db 51%, #2cb5e8 75%);
}

.select-weapon,
.select-mode {
  width: 400px;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  background-color: #ddccbb;
  align-items: center;
  font-size: 17px;
}

.opponents {
  display: flex;
  flex-direction: column;
}

.opponent {
  width: 80px;
  height: 20px;
  margin: 5px;
  border-radius: 5px;
  font-weight: bold;
  background-color: #0fb8ad;
  font-size: 14px;
  color: #fff;
}

.weapon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #0fb8ad;
  font-size: 25px;
  color: #fff;
  font-weight: bold;
}

.game-grid {
  width: 300px;
  height: 270px;
  background-color: greenyellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  width: 290px;
  height: 85px;
  display: flex;
}

.row3 {
  border-bottom: 0px;
}

.box {
  width: 100px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.box1,
.box4,
.box7,
.box2,
.box5,
.box8 {
  box-sizing: border-box;
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
}

.box7,
.box8 {
  border-bottom: 0px;
}

.box3,
.box6 {
  border-bottom: 2px solid #000;
  box-sizing: border-box;
}
